.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.lead {
  font-size: 1rem;
  width: 70%;
}

// Buttons

%btn-shared {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border: none;
  border-radius: 6px;
  transition: all 0.3s;
  margin: 5px 20px 0 0;
  font-weight: 600;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $primary-color;
    color: #fff;
  }

  &-light {
    @extend %btn-shared;
    background-color: $light-color;
    color: $dark-color;
  }
}

// Padding

.p {
  &-1 {
    padding: 1rem;
  }

  &-2 {
    padding: 2rem;
  }

  &-3 {
    padding: 3rem;
  }
}

.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }
}

// Backgrounds

.bg {
  &-black {
    background-color: #000;
    color: #fff;
  }

  &-primary {
    background-color: $primary-color;
    color: #fff;
  }

  &-light {
    background-color: $light-color;
    color: $dark-color;
  }

  &-dark {
    background-color: $dark-color;
    color: #fff;
  }

  &-medium-dark {
    background-color: $medium-dark-color;
    color: #fff;
  }
}
