// Colors

$primary-color: #6ea6fd;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-dark-color: #777;
$website-width: 1110px;
$font-stack: 'Poppins', sans-serif;
$bg-image: url('../img/hero-bg.png');
